---
import type {
    CallToActionFragment,
    DisplaySettingsFragment,
} from '../../../../__generated/sdk';
import type { ContentPayload } from '../../../graphql/shared/ContentPayload';
import LinkButton from '../ButtonComponent/LinkButton.astro';

export interface Props {
    data: CallToActionFragment;
    displaySettings: DisplaySettingsFragment[];
    contentPayload: ContentPayload;
}
const { data } = Astro.props as Props;
---

<div class="m-4 flex gap-4">
    {
        data.Links?.map((link) => (
            <LinkButton cssClassses="btn-primary" link={link?.url?.default}>{link?.text}</LinkButton>
        ))
    }
</div>
