---
export interface Props {
    label?: string;
    link?: string | null;
    cssClassses?: string | string[];
}
const {link="/", cssClassses } = Astro.props as Props;

---

<a class="btn" class:list={cssClassses} href={link}>
    <slot />
</a>
